:root{
    --bg: #0a1d3d;
    --accent : grey;
    --accent2: red;
}


.row{
    display: flex;
    justify-content: space-between;
    width: 250px; 
    margin-bottom: 8px;
}


body { background: var(--bg); } 

div table {
    border-collapse: collapse;
    width: 100%;
}

div th, div td {
    text-align: center;
}

.contracts {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 per row, one fraction each */
    gap: 20px;
    width: 100%;
}

.contract {
    background: var(--accent);
    border: 2px solid var(--accent2);
    border-radius: 8px;
    padding: 8px;
}

h1, h2, p, a, li{
    color: yellow
}