:root{
    --bg: #0a1d3d;
    --accent : grey;
    --accent2: red;

    --alt_accent : rgb(83, 83, 83);
}


.row{
    display: flex;
    justify-content: space-between;
    width: 250px; 
    margin-bottom: 8px;
}


body { background: var(--bg); } 

div table {
    border-collapse: collapse;
    width: 100%;
}

div th, div td {
    text-align: center;
}

.info {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 per row, one fraction each */
    gap: 20px;
    width: 100%;
}

.contract {
    background: var(--accent);
    border: 2px solid var(--accent2);
    border-radius: 8px;
    padding: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ship {
    background: var(--alt_accent);
    border: 2px solid var(--accent2);
    border-radius: 8px;
    padding: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.ship:hover, .contract:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 24px rgba(0,0,0,0.25);
}

h1, h2, p, a, li{
    color: yellow
}