<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary for {{ agent_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body>
    <div id="agent_info">
        <h1>Agent {{agent.symbol}}</h1>

        <div class="row">
            <h2>Faction:</h2>
            <p>{{ agent.faction }}</p>
        </div>

        <div class="row">
            <h2>Credits:</h2>
            <p>{{ agent.credits }}</p>
        </div>
    </div>

    <div class="contracts">
        {% for contract in agent.contracts %}
        <div class="contract">
            <p>Type: {{ contract.type }}</p>
            <p>Faction: {{ contract.faction }}</p>
            <p>Deadline: {{ contract.deadline }}</p>
            <p>Payment on Accepted: {{ contract.paymet_onAccepted }}</p>
            <p>Payment on Fulfilled: {{ contract.paymet_onFulfilled }}</p>

            {% for delivery in contract.deliver %}
                <p>Deliver {{ delivery.tradeSymbol }}</p>
                <ul>
                    <li>Destination: {{ delivery.destinationSymbol }}</li>
                    <li>Owing {{ delivery.unitsRequired - delivery.unitsFulfilled }}</li>
                </ul>
            {% endfor %}

            {% if contract.fulfilled %}
                <p>Status: Fulfilled</p>
            {% elif contract.accepted %}
                <p>Status: Accepted</p>
            {% else %}
                <p>Status: Not Accepted</p>
            {% endif %}


        </div>
        {% endfor %}
    </div>

    <a href={{ url_for("index")}}>index</a>
    <a href={{ url_for("error")}}>error</a>
</body>
</html>