<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary for {{ agent_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body>
    <div id="agent_info">
        <h1>Agent {{agent.symbol}}</h1>

        <div class="row">
            <h2>Faction:</h2>
            <p>{{ agent.faction }}</p>
        </div>

        <div class="row">
            <h2>Credits:</h2>
            <p>{{ agent.credits }}</p>
        </div>
    </div>

    <div class="info">
        {% for contract in agent.contracts %}
        <div class="contract">
            <h3 style="text-align: center;">CONTRACT:</h3>
            <p>Type: {{ contract.type }}</p>
            <p>Faction: {{ contract.faction }}</p>
            <p>Deadline: {{ contract.deadline }}</p>
            <p>Payment on Accepted: {{ contract.paymet_onAccepted }}</p>
            <p>Payment on Fulfilled: {{ contract.paymet_onFulfilled }}</p>

            {% for delivery in contract.deliver %}
                <p>Deliver {{ delivery.tradeSymbol }}</p>
                <ul>
                    <li>Destination: {{ delivery.destinationSymbol }}</li>
                    <li>Owing {{ delivery.unitsRequired - delivery.unitsFulfilled }}</li>
                </ul>
            {% endfor %}

            {% if contract.fulfilled %}
                <p>Status: Fulfilled</p>
            {% elif contract.accepted %}
                <p>Status: Accepted</p>
            {% else %}
                <p>Status: Not Accepted</p>
                <form action="", method ="POST">
                    <button type="submit", style="width: 100%;">Accept</button>
                </form>
            {% endif %}


        </div>
        {% endfor %}
        {% for ship in agent.ships %}
        <div class="ship">
            <h3 style="text-align: center;">SHIP: {{ ship.symbol }}</h3>

            <p>Location: {{ ship.system }} -> {{ ship.waypoint }}</p>
            <p>Status: {{ ship.status }} ({{ ship.flight_mode }})</p>
            <p> Crew: {{ ship.crew.current }} / {{ ship.crew.capacity }}</p>
            <p> Fuel: {{ ship.fuel_current }} / {{ ship.fuel_capacity }}</p>
            <p> Cargo: {{ ship.cargo_units }} / {{ ship.cargo_capacity }}</p>
            <p> Engine Speed: {{ ship.engine.speed }}</p>
            
        </div>
        {% endfor %}

    </div>

    <a href={{ url_for("fulfill_contract", contract_id=agent.contracts[0].id) }}>Fulfill Contract</a>

    <a href={{ url_for("index")}}>index</a>
    <a href={{ url_for("error")}}>error</a>
</body>
</html>